# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bean\Documents\lean_python\other\WordLearn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
*.db
test_data.py
.log
*.mpeg
__pycache__/
*.txt