<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>单词学习网站</title>
<!--    <style type="text/css">-->
<!--        body{-->
<!--            margin: 0;-->
<!--        }-->
<!--        .box{-->
<!--            margin: 100px auto;-->
<!--            /*border: 10px solid black;*/-->
<!--            /*padding: 350px 0px 150px 0px;*/-->
<!--            background-color: white;-->
<!--        }-->
<!--        .box tr{-->
<!--            background-color: rgba(231,231,231,0.65);-->
<!--        }-->
<!--    </style>-->
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <div class="ico">
        <a href="index.html" title="主页" target="_self">
            <img src="./images/home.png" alt="主页" width="50" height="50" style="float: left">
        </a>
        <a href="#" title="个人中心" target="_self">
            <img src="./images/user.png" alt="个人中心" width="50" height="50" style="float: right">
        </a>
    </div>

    <div class="content">
        <h3>
            背单词
        </h3>
        <p>
            欢迎来到单词学习基地，在这里你可以定制自己的单词学习计划，实现自己的单词记忆库！让记忆单词变得更加轻松。</br>
            &nbsp;&nbsp;&nbsp;<a href="#" title="" target="_self">注册</a>或者<a href="login.html" title="" target="_self">登录</a>您的账号开始学习吧！
        </p>
    </div>
<!--    <div >-->
<!--            <table class="box" border="0" cellspacing="0" cellpadding="60" align="center">-->
<!--                 {%content%}-->
<!--            </table>-->
<!--    </div>-->
</body>
</html>