<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录中心</title>
</head>
<body>
    <form action="login.html" method="get">
        <label>
            用户名:
            <input name="username" type="text">
        </label>
        <label>
            密码:
            <input name="password" type="password">
        </label>
        <label>
            性别:
            <input name="gender" type="radio" value="男">男
            <input name="gender" type="radio" value="女">女
            <input name="gender" type="radio" value="保密">保密
        </label>
        <label>
            用户群体:
            <input name="password" type="password">
        </label>



        <label>
            学习状态:
            <input name="password" type="password">
        </label>

        <label>

            <input type="submit">
        </label>
    </form>
</body>
</html>