<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小豆军的学习网站</title>
    <style type="text/css">
        body{
            margin: 0;
        }
        .box{
            margin: 100px auto;
            /*border: 10px solid black;*/
            /*padding: 350px 0px 150px 0px;*/
            background-color: white;
        }
        .box tr{
            background-color: rgba(231,231,231,0.65);
        }
    </style>
</head>
<body>
    <div >
            <table class="box" border="0" cellspacing="0" cellpadding="60" align="center">
                <tr>
                    <th>单词内容</th>
                    <th>翻译内容</th>

                </tr>
                <tr>
                    <th colspan="2">音频内容</th>
                </tr>
            </table>
    </div>
</body>
</html>