{% extends 'base.html' %}
{% load static %}


{% block title %}
    首页
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block head %}
    <a href="/">
        <img src="{% static 'images/home.png' %}" alt="home" id="img-1">
    </a>

    <div class="header">
            <form method="get" action="/translate">
                <input type="text" name="word" class="search">
            </form>
<!--            <a href="#">-->
<!--                <img src="{% static 'images/search.png' %}" alt="search" id="img-search">-->
<!--            </a>-->
    </div>

    <a href="/admin">
    <img src="{% static 'images/user.png' %}" alt="home" id="img-2">
    </a>

{% endblock head %}


{% block body %}
    <a href="/left">
        <img src="{% static 'images/arrow-left-bold.png' %}" alt="left" id="img-left">
    </a>

    <div class="text">
        <p class="word">{{ content.word }}</p>
        <p class="translate">{{ content.trans }}</p>
    </div>

    <a href="/right">
        <img src="{% static 'images/arrow-right-bold.png' %}" alt="right" id="img-right">
    </a>
{% endblock body %}

{% block footer %}
    <div class="footer">谢谢关注小站.</div>
{% endblock footer %}